md-content(layout-padding)
  h2.md-title Add Week
  md-input-container
    //Use floating label instead of placeholder
    label What week am I? (Number)
    input(ng-model="weekNameInput" type="text")
  h2.md-title Week's topics
    md-chips(placeholder="Add Topic" secondary-placeholder="Enter a Topic" ng-model="weekTopics" readonly="false")
  div(layout="row")
    md-content(flex)
      h2.md-title Week Start Day
      md-datepicker(ng-model="startDate" md-placeholder="Enter date")
    md-content(flex)
      h2.md-title Week End Day
      md-datepicker(ng-model="endDate" md-placeholder="Enter date")

  md-divider
  
  div(layout="row" layout-align="center center")
    md-button.md-raised(ng-click="addWeek(weekNameInput,weekTopics)") Add Week to Class


md-divider.existing-weeking
md-content(layout-padding)
  h2.md-title Existing Weeks 

  md-grid-list(md-cols="5" md-cols-sm="3" md-row-height="1:1" md-gutter="4px")
    md-grid-tile(ng-repeat="week in weeks | orderBy:'week'" md-rowspan="1" md-colspan="1" ng-class-odd="'odd-tile'" ng-class-even="'even-tile'" ng-click="")
      md-grid-tile-footer
        h3 Week {{week.week}}


  //- <md-grid-list
  //-       md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
  //-       md-row-height-gt-md="1:1" md-row-height="4:3"
  //-       md-gutter="8px" md-gutter-gt-sm="4px" >
  //-   <md-grid-tile ng-repeat="tile in vm.tiles"
  //-                 md-rowspan="{{tile.span.row}}"
  //-                 md-colspan="{{tile.span.col}}"
  //-                 md-colspan-sm="1"
  //-                 ng-class="tile.background" >
  //-     <md-icon md-svg-icon="{{tile.icon}}"></md-icon>
  //-     <md-grid-tile-footer><h3>{{tile.title}}</h3></md-grid-tile-footer>
  //-   </md-grid-tile>
  //- </md-grid-list>
 

  //- p.md-body-2 The week is the primary unit to build the class material around.
  //- p Weeks will hold assignemnts, quizzes, announcements, etc.
  //- p Weeks must be unique and a number.