md-toolbar.md-accent(layout="row" layout-align="pace-around start" layout-padding)
  md-button(href="/week/2")
    md-icon(md-font-library="material-icons") chevron_left
  p(flex).week-title.md-body-1 Currently: <strong>Week 3</strong>
  md-button
    md-icon(md-font-library="material-icons") chevron_right
  //- h1= title
md-content
 md-list
  md-subheader.md-no-sticky Septemberfest
  md-list-item.md-2-line
    md-icon(md-font-library="material-icons") info
    div.md-list-item-text
        p We will not have class this week due to Septemberfest. Please see your email from the school for more information on Septemberfest.
