md-toolbar.md-accent(layout="row" layout-align="pace-around start" layout-padding)
  p(flex).week-title.md-body-1 <strong>Week List</strong>
md-content(layout-padding)
  //- md-list
  //-   div
  //-   md-list-item(ng-repeat="week in weeks" ng-click="goTo(week)")
  //-    p Week {{week.week}}
  //-    md-divider

  md-grid-list(md-cols="5" md-cols-sm="3" md-row-height="1:1" md-gutter="4px")
    md-grid-tile(ng-repeat="week in weeks | orderBy:'week'" md-rowspan="1" md-colspan="1" ng-class-odd="'odd-tile'" ng-class-even="'even-tile'" ng-click="goTo(week)")
      md-grid-tile-footer
        h3 Week {{week.week}}
