md-toolbar.md-accent(layout="row" layout-align="pace-around start" layout-padding)
  md-button(href="/week/9")
    md-icon(md-font-library="material-icons") chevron_left
  p(flex).week-title.md-body-1 Currently: <strong>Week 2</strong>
  md-button(href="/week/3")
    md-icon(md-font-library="material-icons") chevron_right
  //- h1= title
md-content
 md-list
  md-subheader.md-no-sticky Topics
  md-list-item.md-2-line
    md-icon(md-font-library="material-icons") school
    div.md-list-item-text
        p Picking an IDE
        p Emmet for Faster Development
        p Node.JS History
        p Installing Node.js
        p Asynchronous Javascript
        p 
          a(href="https://nodejs.org/en/docs/") Reading/using Node Documentation
        p Nodeschool.io
  md-divider
  md-subheader.md-no-sticky Quizzes
  md-list-item.md-3-line
    md-icon(md-font-library="material-icons") assignment_late
    div.md-list-item-text
      h3 What is Node.js
      h4 Due 9/8/2015 (Canvas)
      p Based on Readings/Lectures
  md-divider
  md-subheader.md-no-sticky Readings
  md-list-item.md-2-line
    md-icon(md-font-library="material-icons") dvr
    div.md-list-item-text
      p
        a(href="https://en.wikipedia.org/wiki/Node.js") Node.js - wikipedia
      p
        a(href="http://code.tutsplus.com/tutorials/event-based-programming-what-async-has-over-sync--net-30027") Asynchronous Prorgamming w/Javascript
      p
        a(href="http://howtonode.org/hello-node") Hello World Node Server
  md-divider
  md-subheader.md-no-sticky Assignments
  md-list-item.md-3-line
    md-icon(md-font-library="material-icons") assignment
    div.md-list-item-text
      h3 Hello-World Node Server
      h4 Due 9/9/2015
      p Will check off in class on 9/9/2015
  md-divider
  md-subheader.md-no-sticky Notes
  md-list-item.md-2-line
    md-icon(md-font-library="material-icons") speaker_notes
    div.md-list-item-text
      h3 Don't Forget!
      p I am testing this app. I will leave notes from the class here for your enjoyment!
      p Check back here often for anything I find to share with you fine folks.
  md-list-item.md-2-line
    md-icon(md-font-library="material-icons") speaker_notes
    div.md-list-item-text
      h3 Links I promised:
      p
        a(href="http://emmet.io/") Emmet
      p
        a(href="https://packagecontrol.io/installation") Package Control for Sublime Text
      p
        a(href="http://nodeschool.io/") Nodeschool.io
