md-toolbar.md-accent(layout="row" layout-align="pace-around start" layout-padding)
  md-button(href="/week/3")
    md-icon(md-font-library="material-icons") chevron_left
  p(flex).week-title.md-body-1 Currently: <strong>Week 4</strong>
  md-button(href="/week/2")
    md-icon(md-font-library="material-icons") chevron_right
  //- h1= title
md-content
 md-list
  md-subheader.md-no-sticky Topics
  md-list-item.md-2-line
    md-icon(md-font-library="material-icons") school
    div.md-list-item-text
        p Slack
        p Nodeschool.io
        p Node HTTP
        p Hello World Node Server
        p Request Object
        p Response Object
        p SCM - Source Control Management
        p Git Basics
        p Git Hub
        p NPM (Hopefully) - Package.json
  md-divider
  md-subheader.md-no-sticky Quizzes
  md-list-item.md-3-line
    md-icon(md-font-library="material-icons") assignment_late
    div.md-list-item-text
      h3 Nodeschool.io (first 4 modules) &amp; Git basics
  md-divider
  md-subheader.md-no-sticky Readings
  md-list-item.md-2-line
    md-icon(md-font-library="material-icons") dvr
    div.md-list-item-text
      p
        a(href="http://www.sitepoint.com/git-for-beginners/") Git for Beginners
      p
        a(href="http://blog.modulus.io/build-your-first-http-server-in-nodejs") Your first HTTP server in Node.js
      //- p
      //-   a(href="http://howtonode.org/hello-node") Hello World Node Server
  md-divider
  md-subheader.md-no-sticky Assignments
  md-list-item.md-3-line
    md-icon(md-font-library="material-icons") assignment
    div.md-list-item-text
      h3 Git Commit
      h4 Due 9/21/2015
      p 
        a(href="https://github.com/TylersDesk/dgm3760/tree/dev") Check github DGM3760 for more details.
  md-divider
  md-subheader.md-no-sticky Notes
  md-list-item.md-2-line
    md-icon(md-font-library="material-icons") speaker_notes
    div.md-list-item-text
  //-     h3 Don't Forget!
  //-     p I am testing this app. I will leave notes from the class here for your enjoyment!
  //-     p Check back here often for anything I find to share with you fine folks.
  //- md-list-item.md-2-line
  //-   md-icon(md-font-library="material-icons") speaker_notes
  //-   div.md-list-item-text
  //-     h3 Links I promised:
  //-     p
  //-       a(href="http://emmet.io/") Emmet
  //-     p
  //-       a(href="https://packagecontrol.io/installation") Package Control for Sublime Text
  //-     p
  //-       a(href="http://nodeschool.io/") Nodeschool.io
