md-toolbar.md-accent(layout="row" layout-align="pace-around start" layout-padding)
  md-button(href="/week/7")
    md-icon(md-font-library="material-icons") chevron_left
  p(flex).week-title.md-body-1 Currently: <strong>Week 8</strong>
  md-button(href="/week/2")
    md-icon(md-font-library="material-icons") chevron_right
  //- h1= title
md-content
 md-list
  md-subheader.md-no-sticky Topics
  md-list-item.md-2-line
    md-icon(md-font-library="material-icons") school
    div.md-list-item-text
        p ExpressJS - Deep Dive (cont)
        p RESTful Web Services w/Express.JS

  md-divider
  md-subheader.md-no-sticky Quizzes
  md-list-item.md-3-line
    md-icon(md-font-library="material-icons") assignment_late
    div.md-list-item-text
      h3 Express JS
      h4 Due on Oct 19 2015 5:29 PM
      p Will cover basics of working with Express. See readings.
  md-divider
  md-subheader.md-no-sticky Readings
  md-list-item.md-2-line
    md-icon(md-font-library="material-icons") dvr
    div.md-list-item-text
      p
        a(href="https://www.syncano.io/intro-to-express-js/") Intro to Express JS
      p
        a(href="https://scotch.io/tutorials/learn-to-use-the-new-router-in-expressjs-4") Learn the Express Router
        
      
      //- p
      //-   a(href="http://howtonode.org/hello-node") Hello World Node Server
  md-divider
  md-subheader.md-no-sticky Assignments
  md-list-item.md-3-line
    md-icon(md-font-library="material-icons") assignment
    div.md-list-item-text
      h3 Pluralsight
      h4 Due 10/19/2015
      p http://www.pluralsight.com/courses/node-js-express-rest-web-services
      p Access via Canvas
        
  md-divider
  md-subheader.md-no-sticky Notes
  md-list-item.md-2-line
    md-icon(md-font-library="material-icons") speaker_notes
    div.md-list-item-text
  //-     h3 Don't Forget!
  //-     p I am testing this app. I will leave notes from the class here for your enjoyment!
  //-     p Check back here often for anything I find to share with you fine folks.
  //- md-list-item.md-2-line
  //-   md-icon(md-font-library="material-icons") speaker_notes
  //-   div.md-list-item-text
  //-     h3 Links I promised:
  //-     p
  //-       a(href="http://emmet.io/") Emmet
  //-     p
  //-       a(href="https://packagecontrol.io/installation") Package Control for Sublime Text
  //-     p
  //-       a(href="http://nodeschool.io/") Nodeschool.io
