md-toolbar.md-accent(layout="row" layout-align="pace-around start" layout-padding)
  md-button(href="/week/9")
    md-icon(md-font-library="material-icons") chevron_left
  p(flex).week-title.md-body-1 Currently: <strong>Week 12</strong>
  md-button(href="/week/2")
    md-icon(md-font-library="material-icons") chevron_right
  //- h1= title
md-content
 md-list
  md-subheader.md-no-sticky Topics
  md-list-item.md-2-line
    md-icon(md-font-library="material-icons") school
    div.md-list-item-text
        p Authentication
        p Final (TBD)

  md-divider
  md-subheader.md-no-sticky Quizzes
  md-list-item.md-3-line
    md-icon(md-font-library="material-icons") assignment_late
    div.md-list-item-text
      h3 Easy Node Authentication
      h4 Due on Nov 16 2015 5:29 PM
      p Node authentication using local strategy
  md-divider
  md-subheader.md-no-sticky Readings
  md-list-item.md-2-line
    md-icon(md-font-library="material-icons") dvr
    div.md-list-item-text
      p
        a(href="https://scotch.io/tutorials/easy-node-authentication-setup-and-local") Easy Node Authentication Setup and Local
      
      //- p
      //-   a(href="http://howtonode.org/hello-node") Hello World Node Server
  md-divider
  md-subheader.md-no-sticky Assignments
  md-list-item.md-3-line
    md-icon(md-font-library="material-icons") assignment
    div.md-list-item-text
      h3 Example Local Authentication
      h4 Due 11/16/2015
      p Local Authentication
        
  md-divider
  md-subheader.md-no-sticky Notes
  md-list-item.md-2-line
    md-icon(md-font-library="material-icons") speaker_notes
    div.md-list-item-text
  //-     h3 Don't Forget!
  //-     p I am testing this app. I will leave notes from the class here for your enjoyment!
  //-     p Check back here often for anything I find to share with you fine folks.
  //- md-list-item.md-2-line
  //-   md-icon(md-font-library="material-icons") speaker_notes
  //-   div.md-list-item-text
  //-     h3 Links I promised:
  //-     p
  //-       a(href="http://emmet.io/") Emmet
  //-     p
  //-       a(href="https://packagecontrol.io/installation") Package Control for Sublime Text
  //-     p
  //-       a(href="http://nodeschool.io/") Nodeschool.io
