md-toolbar.md-accent(layout="row" layout-align="pace-around start" layout-padding)
  md-button(href="/week/{{weekData.week - 1 }}")
    md-icon(md-font-library="material-icons") chevron_left
  p(flex).week-title.md-body-1 Currently: <strong>Week {{weekData.week}}</strong>
  md-button(href="/week/{{weekData.week + 1 }}")
    md-icon(md-font-library="material-icons") chevron_right
  //- h1= title
md-content
 md-list
  md-subheader.md-no-sticky Topics
  md-list-item.md-2-line
    md-icon(md-font-library="material-icons") school
    div.md-list-item-text
        p(ng-repeat="topic in weekData.topics") {{topic}}
  md-divider
    md-subheader.md-no-sticky Quiz Due Before Class Monday
    md-list-item.md-2-line
      md-icon(md-font-library="material-icons") assignment_late
      div.md-list-item-text
        p I have created a quiz based off the last weeks readings. Please complete it before class on September 14th 2015
