md-toolbar.md-accent(layout="row" layout-align="pace-around start" layout-padding)
  md-button(href="/week/2")
    md-icon(md-font-library="material-icons") chevron_left
  p(flex).week-title.md-body-1 Currently: <strong>Week 3</strong>
  md-button(href="/week/4")
    md-icon(md-font-library="material-icons") chevron_right
  //- h1= title
md-content
 md-list
  md-subheader.md-no-sticky Septemberfest
  md-list-item.md-2-line
    md-icon(md-font-library="material-icons") info
    div.md-list-item-text
        p No class Wednesday 9th 2014
        p We will not have class this week due to Septemberfest. Please see your email from the school for more information on Septemberfest.
  md-divider
    md-subheader.md-no-sticky Quiz Due Before Class Monday
    md-list-item.md-2-line
      md-icon(md-font-library="material-icons") assignment_late
      div.md-list-item-text
        p I have created a quiz based off the last weeks readings. Please complete it before class on September 14th 2015
