md-toolbar.md-accent(layout="row" layout-align="pace-around start" layout-padding)
  md-button(href="/week/4")
    md-icon(md-font-library="material-icons") chevron_left
  p(flex).week-title.md-body-1 Currently: <strong>Week 5</strong>
  md-button(href="/week/2")
    md-icon(md-font-library="material-icons") chevron_right
  //- h1= title
md-content
 md-list
  md-subheader.md-no-sticky Topics
  md-list-item.md-2-line
    md-icon(md-font-library="material-icons") school
    div.md-list-item-text
        p Node Modules
        p JSON - JavaScript Object Notation
        p NPM
        p NPM's Package.json
        p Introduction to Express (time permitting)

  md-divider
  md-subheader.md-no-sticky Quizzes
  md-list-item.md-3-line
    md-icon(md-font-library="material-icons") assignment_late
    div.md-list-item-text
      h3 Learnyounode (Modules 4 &amp; 5) &amp; NPM
      h4 Due 9/28/2015 (before class starts)
      p See quiz in canvas for more details (should be live by end of night wednesday)
  md-divider
  md-subheader.md-no-sticky Readings
  md-list-item.md-2-line
    md-icon(md-font-library="material-icons") dvr
    div.md-list-item-text
      p
        a(href="https://www.atlassian.com/git/tutorials/saving-changes") Git: Saving Changes
      p
        a(href="http://www.sitepoint.com/understanding-module-exports-exports-node-js/") Understanding Module Exports in Node.JS
      p
        a(href="https://docs.npmjs.com/getting-started/what-is-npm") What is NPM
      p
        a(href="https://www.syncano.io/intro-to-express-js/") Intro to Express.js  
      
      //- p
      //-   a(href="http://howtonode.org/hello-node") Hello World Node Server
  md-divider
  md-subheader.md-no-sticky Assignments
  md-list-item.md-3-line
    md-icon(md-font-library="material-icons") assignment
    div.md-list-item-text
      h3 Sample Package.json
      h4 Due 9/28/2015
      p Will post more details on the assignment in Canvas.
        
  md-divider
  md-subheader.md-no-sticky Notes
  md-list-item.md-2-line
    md-icon(md-font-library="material-icons") speaker_notes
    div.md-list-item-text
  //-     h3 Don't Forget!
  //-     p I am testing this app. I will leave notes from the class here for your enjoyment!
  //-     p Check back here often for anything I find to share with you fine folks.
  //- md-list-item.md-2-line
  //-   md-icon(md-font-library="material-icons") speaker_notes
  //-   div.md-list-item-text
  //-     h3 Links I promised:
  //-     p
  //-       a(href="http://emmet.io/") Emmet
  //-     p
  //-       a(href="https://packagecontrol.io/installation") Package Control for Sublime Text
  //-     p
  //-       a(href="http://nodeschool.io/") Nodeschool.io
