doctype html
html
  head
    title= title
    
    // bower:css
    link(rel='stylesheet', href='../bower_components/angular-material/angular-material.css')
    // endbower

    link(rel='stylesheet', href='/stylesheets/style.css')

  body(ng-app='dgm3760')
    div(ng-controller="menuCtrl" layout="column")
        section(layout="row" flex)
            md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id="left")
                md-toolbar
                    h4 Menu
                md-content
                    p This sidenav is locked open on your device. To go back to the default behavior, narrow your display.
            md-toolbar.tall(layout="row")
                div.md-toolbar-tools
                    md-button.md-icon-button(aria-label="Settings")
                        ng-md-icon(icon="menu" ng-click="toggleLeft()")
        section(layout="column")    
            md-content(layout="column" layout-padding)
                block content
    

    // bower:js
    script(src='../bower_components/angular/angular.js')
    script(src='../bower_components/angular-animate/angular-animate.js')
    script(src='../bower_components/angular-aria/angular-aria.js')
    script(src='../bower_components/angular-material/angular-material.js')
    script(src='../bower_components/angular-material-icons/angular-material-icons.min.js')
    // endbower

    // DGM3760:js
    script(src='/scripts/app.js')
    script(src='/scripts/controllers.js')
    //