doctype html
html
  head
    title= title
    base(href="/")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // bower:css
    link(rel='stylesheet', href='../bower_components/angular-material/angular-material.css')
    // endbower

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')    

  body(ng-app='dgm3760')
    div.main-container.toast-container(ng-controller="menuCtrl as ctrl" layout="column" flex)
        section(layout="column")
            md-toolbar(layout="column")
                div(layout="row" layout-align="end")
                    span(flex)
                    md-menu(md-position-mode="target-right target")
                        md-button.md-icon-button(ng-click="ctrl.openMenu($mdOpenMenu, $event)")
                            md-icon(md-font-library="material-icons") menu
                        md-menu-content(width="5")
                            md-menu-item
                                md-button(href="/")
                                    md-icon(md-font-library="material-icons") home
                                    | Weekly Schedule
                            md-menu-item
                                md-button 
                                    md-icon(md-font-library="material-icons") assignment
                                    | Assignments
                            md-menu-item
                                md-button 
                                    md-icon(md-font-library="material-icons") assignment_late
                                    | Quizzes
                            md-menu-item
                                md-button 
                                    md-icon(md-font-library="material-icons") whatshot
                                    | Pro Tips
                            md-menu-item
                                md-button.md-primary(href="/admin")
                                    md-icon(md-font-library="material-icons") vpn_key
                                    | Admin
                            
                div.header-title(layout="column")
                    h1 DGM3760
                    h2 Web Langauges II (Node.js)
                
        section(layout="column" flex)    
            md-content(layout="column")
                block content
    

    // bower:js
    script(src='../bower_components/angular/angular.js')
    script(src='../bower_components/angular-animate/angular-animate.js')
    script(src='../bower_components/angular-aria/angular-aria.js')
    script(src='../bower_components/angular-material/angular-material.js')
    script(src='../bower_components/angular-resource/angular-resource.js')
    script(src='../bower_components/angular-route/angular-route.js')
    // endbower

    // DGM3760:js
    script(src='/scripts/app.js')
    script(src='/scripts/controllers.js')
    script(src='/scripts/services.js')
    //