.md-toolbar-tools {
	fill:#fff;
}

.main-container {
	height:100%;
}

div.header-title {
	padding-left: 20px;
    padding-bottom: 13px;

	h1 {
	    margin-bottom: 0;
	    margin-top:0;
	}

	h2 {
		margin-top: 0;
		font-size: 12px;
	}
}

#main-nav {
	ng-md-icon {
		fill:#fff;
		margin-top:6px;
	}
}

ng-md-icon.main-button {
	svg {
		margin-top:6px;
		fill:#fff;
	}
}

md-menu-item {
	ng-md-icon {
		svg {
		}
	}
}

.week-title {
	text-align:center;
}

md-fab-toolbar .md-fab-toolbar-wrapper {
	height: 4.25rem;
}

.odd-tile {
	background:rgba(147, 147, 147, 0.93);
}

.even-tile {
	background:rgba(198, 198, 198, 0.93);
}

.existing-weeking {
	margin-top:20px;
}

md-toast.toast-error {
	background:red;
}

section.no-weeks {
	background:#ccc;
}